
@font-face {
  font-family: 'Spacesuit';
  src: url('Spacesuit.eot?#iefix') format('embedded-opentype'),  url('Spacesuit.woff') format('woff'), url('Spacesuit.ttf')  format('truetype'), url('Spacesuit.svg#Spacesuit') format('svg');
  font-weight: normal;
  font-style: normal;
}
